<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>

    <application
        android:name=".ui.app.App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.PharmacyAndroid"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCpNOWJonTlSnkyoe78OkBlzxKCGrS7DSU" />

        <activity
            android:name=".ui.addresses.AddressesFragment"
            android:exported="false" />
        <activity
            android:name=".ui.authentication.reset.PasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.authentication.verification.VerificationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.authentication.reset.ResetActivity"
            android:exported="false" />
        <activity
            android:name=".ui.authentication.login.FirstTimeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="false"
            android:theme="@style/Base.Theme.PharmacyAndroid" />
        <activity
            android:name=".ui.authentication.signup.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".ui.authentication.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>